<div ng-controller="mainController as $ctrl9" ng-init="$ctrl9.getLessons()">
<form name="form1">
<span ng-switch="$ctrl.editMode">
  <small>{{$ctrl.fieldType}}</small>
    <input ng-if="$ctrl.fieldType=='name'" ng-switch-when="true" type="text" ng-model="$ctrl.fieldValue" ng-pattern="/^[a-zA-z]*$/" required>
    <input ng-if="$ctrl.fieldType=='day'" ng-switch-when="true" type="number" ng-model="$ctrl.fieldValue" min="1" max="5" required>
    <input ng-if="$ctrl.fieldType=='start'" ng-switch-when="true" type="number" ng-model="$ctrl.fieldValue" min="8" max="14" required>
    <input ng-if="$ctrl.fieldType=='dur'" ng-switch-when="true" type="number" ng-model="$ctrl.fieldValue" min="1" max="2" required>
    <input ng-if="$ctrl.fieldType=='grupa'" ng-switch-when="true" type="number" ng-model="$ctrl.fieldValue" min="1" max="3" required>
    <span ng-switch-default>{{$ctrl.fieldValue}}</span>
  </span>
  <span ng-if="$ctrl.fieldType!='name' && !$ctrl.kolizja($ctrl9.lessons,$ctrl.index,$ctrl.fieldType,$ctrl.fieldValue) && !form1.$invalid"><button ng-click="$ctrl.handleModeChange()">{{$ctrl.editMode ? 'Save' : 'Edit'}}</button></span>
  <span ng-if="$ctrl.fieldType=='name' && !form1.$invalid"><button ng-click="$ctrl.handleModeChange()">{{$ctrl.editMode ? 'Save' : 'Edit'}}</button></span>
  <button ng-if="$ctrl.editMode" ng-click="$ctrl.reset()">Reset</button>

  <span ng-if="$ctrl.fieldType=='day'||$ctrl.fieldType=='start'||$ctrl.fieldType=='grupa'||$ctrl.fieldType=='dur'" ng-show="$ctrl.kolizja($ctrl9.lessons,$ctrl.index,$ctrl.fieldType,$ctrl.fieldValue)">
      <small style="color:red;">
        Kolizja
    </small></span>

  <span ng-show="form1.$invalid">
    <small style="color:red;">
      Nieprawidłowe dane
  </small></span>
</form>
</div>